header {
  background-color: $color-4;
  width: 100%;

  .navbar-brand {
    @include style-text($fs-6, $color-2, $fw-2);
  }
  .navbar-collapse {
    .navbar-nav {
      .nav-link {
        @include style-text($fs-3, $color-3, $fw-2);
        transition: all 0.2s;
        padding: $pd-1;
        margin-left: $mg-2;
        &:hover {
          @include style-text($fs-3, $color-2, $fw-2);
        }
      }
    }
    .cart{
        cursor: pointer;
        position: relative;
        .fa-cart-shopping{
            color: $color-2;
            font-size: $fs-3;
        }
        .quality{
          background-color: $color-2;
          color: $color-4;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -12px;
          left: 80%;
          padding: 0px 5px;
        }
    }
  }
  
}
